h1{
    color: goldenrod;
}
body{
    background: rgba(4, 90, 33, 0.952);
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   justify-items: center;
   font-weight: bold;

}
#message{
    font-style: italic;
}
button{
    color: rgba(4, 90, 33, 0.952);
    background-color: goldenrod;
    border: none;
    padding: 10px;
    font-weight: bolder;
    border-radius: 2px;
    width: 150PX;
    margin: 4px;;
}
