* {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

body {
    background-color: rgb(84, 134, 84);
}

nav ul {
    list-style: none;
    font-size: 30px;
    background: rgb(233, 233, 176);

}

nav {
    background: rgb(233, 233, 176);
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gamecontainer {
    height:80vh;
    margin-top: 45px;
    display: flex;
    justify-content: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, 10vw);
    grid-template-rows: repeat(3, 10vw);

}

.container div {
    border: 2px solid rgb(85, 85, 34);
    border-radius: 20%;
}

.box {
    background-color: rgb(233, 233, 176);
    margin: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6vw;
    cursor: pointer;
}
.box:hover{
    background-color: rgb(201, 201, 152);
}
.gameinfo{
    padding: 0 50px;
    margin-top: 8px;
    
}
.info{
    margin-top: 20px;
}
.imgbox img {
    display: none;
    width: 20vw;
    transition: width 1s ease-in-out;
}

#reset{
    margin-top: 20px;
    padding: 8px;
    border-radius: 12px;
    border:2px solid  rgb(12, 68, 21);
    background-color: rgb(196, 196, 142);
    cursor: pointer;
}
#reset:hover{
    background-color:rgb(155, 155, 109);
}

@media screen and (max-width: 950px)
{
    .gamecontainer{
        flex-wrap: wrap;
        
    }
    .gameinfo{
        margin-top: 34px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .gameinfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}
