@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --a: 0;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color: whitesmoke
}

.logo {
    display: flex;
    font-weight: 600;
    font-size: x-large;
    align-items: center;
    justify-content: flex-start;
    color: #8a2be2;
}

.left {
    width: 25vw;
    padding: 1px;

}

.right {
    margin-top: 11px;
    width: 75vw;
    padding: 1px;
    background-color: rgb(24, 23, 23);

    position: relative;
}

.home {

    background-color: rgb(24, 23, 23);
}

.home li {
    cursor: pointer;
}


.library {
    background-color: rgb(24, 23, 23);
    min-height: 70vh;
    position: relative;
}

.home ul li {
    padding: 5px;
    display: flex;
    gap: 15px;
    width: 20px;
    list-style: none;
    margin-left: 15px;
    font-weight: bold;
}

.heading {
    margin-left: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    gap: 15px;
    white-space: nowrap;
    font-size: 13px;
}

.heading img {
    width: 20px;
}

.footer {
    background-color: rgb(24, 23, 23);
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
}

.footer a {
    color: gray;
    text-decoration: none;

}

a :hover {
    text-decoration: underline;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(15, 13, 13);
    height: 72px;
}

.header>* {
    padding: 20px;
}

.jamifyplaylist {
    padding: 16px;

}

.cardcontainer {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    margin: 20px;
    max-height: 65vh;
    overflow: auto;
}

.card {
    width: 150px;
    padding: 10px;
    border-radius: 7px;

}

.card:hover {
    background-color: rgb(63, 61, 61);
    cursor: pointer;
    transition: all 1s;
    --a: 1
}

.card img {
    width: 100%;
    object-fit: contain;

}

.card>* {
    padding-top: 10px;
}

.card {
    margin: 5px;
    background-color: rgb(36, 34, 34);
    position: relative;
}

.play {
    position: absolute;
    right: 15px;
    top: 120px;
    opacity: var(--a);
    transition: all 1s ease out;
}

.buttons>* {
    margin: 0 12px;

}

.signupbtn {
    background-color: rgb(15, 13, 13);

    color: #ffff;
    border: none;
    font-weight: bold;
    opacity: 0.5;
    cursor: pointer;


}

.signupbtn:hover {
    opacity: 1;
    font-size: 14px;
    color: #ffff;
}

.loginbtn {
    background-color: #fff;
    border: none;
    border-radius: 21px;
    padding: 7px;
    font-weight: bold;
    width: 79px;
    cursor: pointer;
    transition: transform 0.3s ease;
    /* Add a transition for smooth effect */
}

.loginbtn:hover {
    background-color: rgb(231, 227, 227);
    transform: scale(1.2);
    /* Increase the size of the button */
}

.playbar {
    position: fixed;
    bottom: 10px;
    width: 69vw;
    min-height: 25px;
    background-color: blueviolet;
    padding: 10px;
    justify-content: center;
    border-radius: 15px;
    opacity: 0.6;
}

.playbar:hover {
    opacity: 1;
}

.songbuttons {
    display: flex;
    justify-content: center;
    gap: 20px;



}

.songbuttons img {
    cursor: pointer;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.hamburgerContainer {
    display: flex;
    gap: 14px;
    align-items: center;
    justify-content: center;
}

.close {
    display: none;
}

.songlist {
    height: 400px;
    overflow: auto;
}

.songlist ul {
    list-style: decimal;
    padding: 15px 20px;
    overflow: inherit;
}

.songlist ul li {
    display: flex;
    gap: 30px;
    cursor: pointer;
    padding: 12px 4px;
    border: 1px solid #8a2be2;
    margin: 6px 0px;
    border-radius: 5px;
    justify-content: space-around;
}

.playnow {
    display: flex;
    gap: 10px;
    white-space: nowrap;
    align-items: center;
    font-size: small;

}

.playnow img {
    width: 25px;


}

.info {
    white-space: nowrap;
    font-size: small;
    width: 344px;

}

.songname {
    margin-bottom: 5px;
}

.seekbar {
    height: 2px;
    width: 97%;
    border: 2px solid aqua;
    position: absolute;
    bottom: 0;
    border-radius: 10px;
    cursor: pointer;
}

.circle {
    width: 18px;
    height: 18px;
    background-color: aqua;
    border-radius: 13px;
    position: relative;
    bottom: 9px;
    left: 0%;
    transition: left 0.25s;
}

.abovebar {
    display: flex;
    justify-content: space-around;
}

.songinfo {
    width: 250px;
    color: white;

}

.songtime {
    width: 125px;
}

.timevol {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.volume {
    display: flex;
    align-items: center;
    gap: 4px;
}

.volume:hover::after {
    /* content: "laiba"; */

}

@media (max-width: 1200px) {
    .left {
        position: absolute;
        left: -130%;
        transition: all .3s;
        z-index: 1;
        width: 370px;
        background-color: black;
        padding: 0;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .songinfo,
    .songtime {

        width: auto;
    }

    .close {
        display: block;
    }

    .left .close {
        position: absolute;
        right: 9px;
        top: 10px;
        width: 29px;

    }

    .close img {
        cursor: pointer;
    }

    .timevol {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        gap: 13px;
    }


    .right {
        width: 100vw;
    }

    .playbar {
        width: calc(100vw - 75px);
    }

    .seekbar {
        width: calc(100vw - 120px);
    }

    .hamburger {
        display: block;
    }

    .right {
        margin: 0;
    }

    .card {
        width: 55vw;
    }

    .cardContainer {
        margin: 0;
        justify-content: center;
    }

    .abovebar {
        flex-direction: column;
        gap: 23px;
        align-items: center;
    }

    .cardContainer {
        max-height: unset;
        overflow-y: unset;
        margin-bottom: 35vh;
    }

    .playbar {
        right: 25px;
    }
}

@media (max-width: 500px) {
    .card {
        width: 100%;
    }

    .header>* {
        padding: 2px;
    }

    .buttons>* {
        margin: 0 6px;
    }

    .header {
        padding: 7px;
    }

    .jamifyplaylist h1 {
        padding: 4px;
    }

    .library {
        height: 85vh;
    }

    .left {
        width: 100vw;
    }




}