<form>
    <h2>Login</h2>
    <label>Username:</label>
    <input type="text" name="user" value="" />
    <label>Password:</label>
    <input type="password" name="pass" value="" />
    <input type="button" value="submit" />
</form>
