body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;


}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;


}

.logo img {
    width: 164px;
}

.right ul {
    display: flex;
    gap: 34px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;
}

.right ul li {
    display: flex;
    align-items: center;
}

.right ul li img {
    margin-left: 8px;
    display: inline-block;

    vertical-align: middle;

}


.right ul li:last-child img {
    transform: translateY(4px);
}



.first {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 23px;
    margin-bottom: 50px;
    ;

}

.first span {
    font-size: 40px;
    /* margin-bottom: 20px; */
}

p {
    text-align: center;
}

button {
    color: #fff;
    background-color: #00b6d1;
    border-radius: 6px;
    border: none;

    font-weight: 700;
    padding: 15px;
    cursor: pointer;
}
a{
    text-decoration: none;
    color:  #fff; ;
}
a:hover {
    text-decoration: underline; /* Underline on hover */
}


.flex {
    display: flex;
    gap: 4px;
}

.large {
    font-size: x-large;
}

.second {
    /* position: absolute; */
    /* left: 0;  Align to the left edge */
    padding-left: 100px;



}



.second span {
    transform: translateY(30%);
}

.third {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.card {
    background-color: rgb(238, 238, 238);
    padding: 23px;
    margin: 10px;
    border-radius: 4px;
    text-align: center;
}

.btn-blue {
    color: #fff;
    background-color: #00b6d1;
    border-radius: 6px;
    border: none;
    font-weight: 700;
    padding: 15px;
    cursor: pointer;
}

.btn-green {
    color: #fff;
    background-color: #5cb85c;
    border-radius: 6px;
    border: none;
    font-weight: 700;
    padding: 15px;
    cursor: pointer;
}
.lang{
    font-weight: 700;
    font-size: large;
    text-align: center;
    padding-bottom: 23px;
}

@media screen  and (max-width:1021px){
    .grid {
        background-color: #f00000;
        display: grid;
        grid-template-columns: 1fr ;
} }