
@{
    ViewBag.Title = "About";
}

<h2>About</h2>
<h2>ViewData = @ViewData["message1"]</h2>
<h2>ViewBag= @ViewBag.message2</h2>
<h2>TempData =@TempData["message3"]</h2>

@*<ul>
    @{
        foreach (var item in (string[])TempData["FruitsArray"])
        {
            <li>@item</li>
        }

    }
</ul>*@
